# Visual Studio.vs/*.user*.suo# Build outputbin/obj/# SQLite temp files*.db-shm*.db-wal*.db-journal# App configuration cachewwwroot/config/# Custom CSS folderswwwroot/css/custom/# Ignore json config used by UIcolumnNames.json